{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Edwin's Python Flask Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/grouplearn.jpg') }}" alt="Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What do I want to learn?</h5>
                    <p class="card-text">
                        <ol>
                            <li>In this class I really hope to learn more about web development because making websites are so cool and helpful</li>
                            <li>I also really hope to learn more about how to style websites. After looking at Safin's fastpage, I was really impressed how he styled it</li>
                            <li>Learning how to use <mark>Github</mark>has helped me and I hope to use Github more in the future for myself and working in a group</li>
                            <li>I also want to learn some languages such as Lua, and want to learn more about Python and JavaScript</li>
                            <li>Also, I know that there are a couple of different types of Java, and I want to learn more about all of them and their differences</li>
                        </ol>
                    </p>
                    <a href="https://github.com/EdwinKuttappi/mypythonflask" class="btn btn-primary">Go to Repository</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/flask.png') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Goals for getting better at<mark>Web Development</mark></h5>
                    <p class="card-text">
                        <ol>
                            <li>Be able to collaborate much more with group and learn how they made their websites</li>
                            <li>Look at people who have already made a website and study their code</li>
                            <li>Use W3Schools to learn more about programming as that is a very useful resource</li>
                            <li>Revisit Notes from Computer Science Class about using HTML</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary"></a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/groupcollaboration1.jpg') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">How can I collaborate with my group? How can I be a better groupmate?</h5>
                    <p class="card-text">
                        <ol>
                            <li>I can always ask them when I need some help and they are always willing to help me</li>
                            <li>I should always make sure that I should help them when necessary, and even if they don't ask I can check in</li>
                            <li>It would be useful to hold meetings outside of school to make sure that everyone is working still and contributing to the 20-24 hours a week per group</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}