<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <body style="background-color:rgb(147, 227, 138);">
        <h1 class="text-primary"><strong>About Me</strong></h1>
        <p class="text-secondary">Edwin Abraham</p>
        <p class= "text-secondary">I am a Junior at Del Norte High School and I really like to learn about the latest pieces of Technology and this really helps me to stay up to date with all that is happening
        <p class = "text-secondary"> My current group mates are Emaad, Jishnu, and Luka</p>
        <p class = "text-primary">Goals</p>
        <p class = "text-secondary">When I graduate High School, I want to be able to get a job during the transition from high school to college</p>
        <p class = "text-secondary">I also want to work at a big company and really learn what it is like to be in that environment</p>
        <p class = "text-secondary">I want to travel the country, and maybe visit London</p>
        <p class = "text-secondary">Get good at Computer Science and use it to help others and build websites for fun</p>
        
        
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
